4 buttons 2 image/__pycache__/buttons.cpython-311.pyc

4 buttons 2 image/__pycache__/settings.cpython-311.pyc
5 buttons 3 number buttons/__pycache__/buttons.cpython-311.pyc
.gitignore
5 buttons 3 number buttons/__pycache__/settings.cpython-311.pyc
